$myWidyh: 120px;
* {
  box-sizing: border-box;
}
body {
  background-color: LightCyan;
}
#drum-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFB5A0;
  width: 50%;
  margin: 1em auto;
  padding: 1em;
}
#keyBoard {
  display: grid;
  grid-template-columns: $myWidyh $myWidyh $myWidyh;
  justify-content: center;
  grid-gap: 10px;
  padding: 10px;
}
.drum-pad {  
  height: $myWidyh/1.4;
  background-color: #496F99;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.drum-pad:hover {
  cursor: pointer;
}
#display {
  width: $myWidyh*3;
  height: $myWidyh;
  background-color: #9FB4CC;
  font-size: 2em;
  padding: 1em;
}
.drum-pad {
  font-size: 2em;
  color: black;
}
