$myWidyh: 120px;
* {
  box-sizing: border-box;
}
body {
  background-color: LightCyan;
}
#keyBoard {
  display: grid;
  grid-template-columns: $myWidyh $myWidyh $myWidyh;
  justify-content: center;
  grid-gap: 10px;
  padding: 10px;
}
.drum-pad {  
  height: $myWidyh/1.4;
  background-color: #496F99;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.drum-pad:hover {
  cursor: pointer;
}
