$myWidyh: 120px;
* {
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}
body {
  background-color: LightCyan;
}
#drum-machine {
  display: flex;
  flex-direction: column;
  background-color: #A6D2E3;
  max-width: $myWidyh*3;
  margin: 2em auto;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
}
#keyBoard {
  display: grid;
  grid-template-columns: $myWidyh/1.5 $myWidyh/1.5 $myWidyh/1.5;
  justify-content: center;
  align-content: center;
  grid-gap: 6px;
  padding: 6px;
}
.drum-pad {  
  height: $myWidyh/3;
  line-height: $myWidyh/3;
  background-color: #496F99;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  box-shadow: 3px 3px 5px black;
  font-size: 1.2em;
  color: black;
}
.drum-pad:hover {
  cursor: pointer;
}
#controls {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 20px;
  margin: auto;
}
#display {
  margin: auto;
  text-align: left;
  width: $myWidyh*1.6;
  height: $myWidyh/1.9;
  background-color: #9FB4CC;
  font-size: 1.2em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}
.slider-wrapper {
  text-align: center;
  padding: 10px;
}
i {
  font-style: italic;
}
#power {
  margin-left: 90%;
  width: 30px;
  height: 30px;
  border: 5px solid grey;
  border-radius: 50%;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #drum-machine {
    flex-direction: column;
    max-width: $myWidyh*3.6;
  }
  #keyBoard {
    grid-template-columns: $myWidyh $myWidyh $myWidyh;   
    grid-gap: 10px;
    padding: 10px;
  }
  .drum-pad {  
    height: $myWidyh/2;
    line-height: $myWidyh/2;    
    font-size: 1.5em;
  }
  #power {
    margin-left: inherit;  
  }
} 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #drum-machine {
    flex-direction: row;
    max-width: $myWidyh*6;
  }
  #keyBoard {
    grid-template-columns: $myWidyh $myWidyh $myWidyh;   
    grid-gap: 10px;
    padding: 10px;
  }
  .drum-pad {  
    height: $myWidyh/2;
    line-height: $myWidyh/2;    
    font-size: 1.5em;
  }
  #power {
    margin-left: inherit;  
  }
} 
